html,body { height: 100%; }

body{
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background-color:rgb(251, 248, 241);
}

form{
    margin-top: 20px !important;
	padding-top: 10px;
	font-size: 13px;
	margin-top: 30px;
	/* background-color: rgb(253, 234, 199); */

}
.card-title{ font-weight:300; }
.card-body{
	background-color: rgb(249, 234, 208);
}
.btn{
	font-size: 13px;
}

.login-form{ 
	width:400px;
	margin:20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

span{
	font-size:14px;
} 
